body{
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background-color: #e8f5e9;
}

h1{
    color: green;
}

nav{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

nav a{
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

img{
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

ul{
    list-style-position: inside;
}

@media(max-width:768px){

    nav{
        flex-direction: column;
    }

    body{
        padding: 10px;
    }

}
